extends layout
block content
    head
        include head
        script(type = 'text/javascript' src = 'javascripts/searchMap.js')
        script(type = 'text/javascript') setCoords(#{user.coordinate.latitude}, #{user.coordinate.longitude})
        if providers
            each provider in providers
                script(type = 'text/javascript') addProvider('#{provider._id}', '#{provider.name.firstname}', '#{provider.name.lastname}', '#{provider.service.title}', '#{provider.description}', #{provider.coordinate.latitude}, #{provider.coordinate.longitude})
        script(type = 'text/javascript' src = 'javascripts/validate.js')
        script(type = 'text/javascript' src = 'javascripts/show.js')
        script(type = 'text/javascript' src = 'javascripts/selectOption.js')
    body(style = 'padding-top: 50px;')
        div(class = 'navbar navbar-expand-lg fixed-top navbar-dark bg-primary')
            div(class = 'container')
                a(href = '/main' class = 'navbar-brand') Contacta
                button(type = 'button' class = 'navbar-toggler' data-toggle = 'collapse' data-target = '#navbarResponsive' aria-controls = 'navbarResponsive' aria-expanded = 'false' aria-label = 'Toggle navigation')
                    span(class = 'navbar-toggler-icon')
                div(id = 'navbarResponsive' class = 'navbar-collapse collapse')
                    ul(class = 'navbar-nav')
                        li(class = 'nav-item')
                            a(class = 'nav-link' href = '/searchservice') buscar servicio
                        li(class = 'nav-item')
                            a(class = 'nav-link' href = '/checkquotations') cotizaciones
                        li(class = 'nav-item')
                            a(class = 'nav-link' href = '/checkhistory') historial
                        li(class = 'nav-item')
                            a(class = 'nav-link' href = '/updateaccount') editar perfil
                        li(class = 'nav-item')
                            a(class = 'nav-link' href = '/deleteaccount') eliminar cuenta
                        li(class = 'nav-item')
                            a(class = 'nav-link' href = '/logout') cerrar sesión
        div(class = 'container')
            div(class = 'bs-docs-section')
                div(class = 'row jumbotron')
                    div(id = 'container' class = 'col-lg-12')
                        include messages
                        form(id = 'form' action = 'searchservice' method = 'post' class = 'form-inline justify-content-center' onsubmit = 'return validateSearchService()')
                            select(id = 'services' name = 'services' class = 'form-control m-2' autofocus required)
                                option(value = '' select hidden) servicio
                                option(id = 'gasfitería' name = 'gasfitería' value = 'gasfitería') gasfitería
                                option(id = 'guardería' name = 'guardería' value = 'guardería') guardería
                                option(id = 'movilidad' name = 'movilidad' value = 'movilidad') movilidad
                                option(id = 'panadería' name = 'panadería' value = 'panadería') panadería
                            input(type = 'submit' value = 'buscar servicio' class = 'btn btn-primary m-2')
                            button(type = 'button' onclick = 'return validateSearchMap()' class = 'btn btn-primary m-2') ubicación
                            div(id = 'map' style = 'height: 350px; width: 1046px; display: none;' disabled)
                            if users
                                div(class = 'table-responsive')
                                    table(class = 'table table-hover')
                                        thead
                                            tr(class = 'table-light')
                                                td(class = 'text-center align-middle' scope = 'col') prestador
                                                td(class = 'text-center align-middle' scope = 'col') servicio
                                                td(class = 'text-center align-middle' scope = 'col') descripción
                                                td(class = 'text-center align-middle' scope = 'col') cotizar servicio
                                        tbody
                                            each user in users
                                                tr(class = 'table-primary')
                                                    td(class = 'text-center align-middle') #{user.name.firstname + ' ' + user.name.lastname}
                                                    td(class = 'text-center align-middle') #{user.service.title}
                                                    td(class = 'text-center align-middle') #{user.description}
                                                    td(class = 'text-center align-middle')
                                                        a(href = 'searchservice/requestquotation/' + user._id)
                                                            button(type = 'button' class = 'btn btn-primary') cotizar
        script(type = 'text/javascript') selectOption('#{services}')
        script(type = 'text/javascript' src='https://maps.googleapis.com/maps/api/js?key=AIzaSyCSRS9SAWe9v2szpbAYACT9F8c1hJThJ7c&callback=searchMap' async defer)