doctype html
html(lang = "en")
    head
        meta(charset = "UTF-8")
        meta(name = "viewport" content = "width=device-width, initial-scale=1.0")
        meta(http-equiv = "X-UA-Compatible" content = "ie=edge")
        link(rel = "stylesheet" href = "../stylesheets/groups.css")
        title CONTACTA
    body
        div(class = "update-title")
            h1 CONTACTA
        div(class = "update-group")
            h2(class = "update-group-title") update
            each user in users
                div(class = "update-group-div")
                    p
                        label username: 
                        label= user.account.username
                    p
                        label password: 
                        label= user.account.password
                    p
                        label firstname: 
                        label= user.name.firstname
                    p
                        label lastname: 
                        label= user.name.lastname
                    p
                        label gender: 
                        label= user.gender
                    p
                        label birthdate: 
                        label= user.birthdate
                    p
                        label phonenumber: 
                        label= user.phonenumber
                    p
                        label email: 
                        label= user.email
                    p
                        label address: 
                        label= user.address
                    p
                        label latitude: 
                        label= user.coordinate.latitude
                    p
                        label longitude: 
                        label= user.coordinate.longitude
                    a(href = "update/edit/"+user.id)
                        button(type = "button" class = "update-group-update") update user
            div(class = "update-group-button")
                a(href = "/")
                    button(type = "button" class = "update-group-return") return index